* {
    font-family: 'AgentFont', sans-serif;
    font-size: 14pt;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.icon {
    font-family: 'AgentIconFont';
    vertical-align: middle;
}

.text {
    font-family: 'AgentFont', sans-serif;
}

.img-button {
    font-family: 'AgentIconFont';
    filter: sepia(6%) brightness(57%);
    color: white;

    &:hover {
        filter: sepia(0%) brightness(100%);
    }

    &.active {
        filter: sepia(0%) brightness(100%);
    }
}