@font-face {
  font-family: 'AgentFont';
  src: url('font.ttf') format('truetype');
  unicode-range: U+00A9-E007F;
}

* {
    font-family: 'AgentFont', sans-serif;
    font-size: 14pt;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.img-button{
    filter: sepia(6%) brightness(57%);

    &:hover {
        filter: sepia(0%) brightness(100%);
    }

    &.active {
        filter: sepia(0%) brightness(100%);
    }
}